
@font-face {
    font-family: 'a_futuraortoregular';
    src: url('afuturaorto-webfont.woff2') format('woff2'),
         url('afuturaorto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: 'a_futuraortoregular', Arial, sans-serif;
}
h2{
    font-family: 'a_futuraortoregular', Arial, sans-serif;
}
h3{
    font-family: 'a_futuraortoregular', Arial, sans-serif;
}