html, body {
    width: 100%;
}

.image-block {
    max-width: 1200px;
    text-align: center;
}

.image {
    margin: 5px 10px;
    display: inline-block;
    width: 320px;
    height: auto;
}



@media  (min-width: 980px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        width: 300px;
    }
    .ten-image{
        display: none;
    }
}

@media  (max-width: 980px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        width: 280px;
    }
    .ten-image{
        visibility: hidden;
    }
}

@media  (max-width: 920px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        width: 230px;
    }
    .ten-image{
        visibility: hidden;
    }
}

@media  (max-width: 768px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        width: 280px;
    }
    .ten-image{
        visibility: hidden;
    }
}

@media  (max-width: 620px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        width: 220px;
    }
    .ten-image{
        visibility: hidden;
    }
}

@media  (max-width: 620px){
    .image-block{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .image{
        min-width: 320px;
        width: 90%;
    }
    .ten-image{
        visibility: hidden;
    }
}

